Audatex/Connected Services/FraudCheckServiceReferences/ClaimsHistoryService_v1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serviceinterface_v1.b2b.audatex.com" targetNamespace="http://serviceinterface_v1.b2b.audatex.com" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="http://serviceinterface_v1.b2b.audatex.com" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="B2BRequest">
        <annotation>
          <documentation>
The generic request of an AudaNet B2B web service.     </documentation>
        </annotation>
        <sequence>
          <element minOccurs="0" maxOccurs="unbounded" name="parameter" type="tns:B2BParameter">
            <annotation>
              <documentation>
The parameters for the invocation. This includes the callers credentials (loginId,
                    password), optionally the xslt stylesheet name (if the payload needs to be transformed to SAXIF) and
                    additional parameters specific to the operation.       </documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="payload" type="anyType">
            <annotation>
              <documentation>
The data input for the operation to invoke, if required by the operation. The payload
                    is typically an XML fragment or a string containing XML.       </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="B2BParameter">
        <annotation>
          <documentation>
A parameter item to pass to an AudaNet B2B web service. Each parameter consists of a name
                and a value. The name is case sensitive.     </documentation>
        </annotation>
        <sequence>
          <element name="name" type="string">
            <annotation>
              <documentation>
The name of the parameter. Must be unique in the parameter list.       </documentation>
            </annotation>
          </element>
          <element name="value" type="string">
            <annotation>
              <documentation>
The value of the parameter.       </documentation>
            </annotation>
          </element>
        </sequence>
        <attribute name="xsltParameter" type="boolean" use="optional">
          <annotation>
            <documentation>
NB! This attribute is deprecated. Please use the context attribute instead.
                The parameters having this attribute set to "true" will be passed to the XSLT
                  transformation instead of to the service operation.      </documentation>
          </annotation>
        </attribute>
        <attribute name="context" type="string" use="optional">
          <annotation>
            <documentation>
The parameters with the context attribute set to a valid context will
                not be passed to the service operation but to one of the contexts. Currently 
                supported values:
                1. 'XSLT' - same as the old xsltParameter=true attribute, parameters marked with the
                XSLT context will be passed to the XSL transformation engine.
                2. 'BRE' - parameters with the BRE context will be passed to the BRE rule engine as 
                variables.      </documentation>
          </annotation>
        </attribute>
      </complexType>
      <complexType name="B2BResponse">
        <annotation>
          <documentation>
The generic response of an AudaNet B2B web service.     </documentation>
        </annotation>
        <sequence>
          <element name="returnCode" type="int">
            <annotation>
              <documentation>
Indicates if the invocation was successful or not. Can have the following values:
                    0: Success. The operation completed successfully.
                    1: Warning. The operation completed, but some sub-tasks had a problem. The messages contain the
                    warning information.
                    2: Error. The operation failed. The messages contain the error information.       </documentation>
            </annotation>
          </element>
          <element name="loginId" type="string">
            <annotation>
              <documentation>
The loginId of the user invoking the service.       </documentation>
            </annotation>
          </element>
          <element name="hostName" type="string">
            <annotation>
              <documentation>
The host which processed the request.       </documentation>
            </annotation>
          </element>
          <element name="timestamp" type="dateTime">
            <annotation>
              <documentation>
The timestamp when the response was generated.       </documentation>
            </annotation>
          </element>
          <element minOccurs="1" maxOccurs="unbounded" name="message" type="tns:B2BMessage">
            <annotation>
              <documentation>
Contains information, warning or error messages. The service
                    always returns at least one
                    message, but there can be more (e.g. multiple warnings).       </documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="payload" type="anyType">
            <annotation>
              <documentation>
The payload, if the invoked operation returns a payload to the client. The payload is
                    typically an XML fragment or a string containing XML.       </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <complexType name="B2BMessage">
        <annotation>
          <documentation>
Contains an information, warning or error message. A message consists of a unique code and
                a text. A translated text to the users locale may be available as well.     </documentation>
        </annotation>
        <sequence>
          <element name="messageCode" type="string">
            <annotation>
              <documentation>
Contains the code for the message. This code is a unique alphanumeric
                    identifier.
                         </documentation>
            </annotation>
          </element>
          <element name="severity" type="int">
            <annotation>
              <documentation>
Indicates the kind of message:
                    0: information message
                    1: warning
                    2: error       </documentation>
            </annotation>
          </element>
          <element name="text" type="string">
            <annotation>
              <documentation>
A textual description in English of what happened.       </documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="localizedText" type="string">
            <annotation>
              <documentation>
Contains the translated message text, if available, in the users locale.
                         </documentation>
            </annotation>
          </element>
          <element minOccurs="0" maxOccurs="unbounded" name="additionalInfo" type="string">
            <annotation>
              <documentation>
Contains formalized additional information, if available. For example, this can be
                    numeric arguments to an error message. Each specific message code defines if it is provides
                    additional information and of what type that is.       </documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="caseId" type="string">
            <annotation>
              <documentation>
The Id of the case that the service operated on. If a new case has been created as a
                    result of a service operation, this field contains the unique Id of the newly created case.
                    The client may need this Id to reference this case in subsequent operations.       </documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="taskId" type="string">
            <annotation>
              <documentation>
The Id of the task that the service operated on. If a new task has been created as a
                    result of a service operation, this field contains the unique Id of the newly created task.
                    The client may need this Id to reference this task in subsequent operations.       </documentation>
            </annotation>
          </element>
        </sequence>
      </complexType>
      <element name="pingRequest" type="tns:B2BRequest" />
      <element name="pingResponse" type="tns:B2BResponse" />
      <element name="findExternalRequest" type="tns:B2BRequest" />
      <element name="findExternalResponse" type="tns:B2BResponse" />
      <element name="findInternalRequest" type="tns:B2BRequest" />
      <element name="findInternalResponse" type="tns:B2BResponse" />
    </schema>
  </types>
  <message name="pingRequest">
    <part name="pingRequest" element="tns:pingRequest" />
  </message>
  <message name="pingResponse">
    <part name="pingResponse" element="tns:pingResponse" />
  </message>
  <message name="findExternalRequest">
    <part name="findExternalRequest" element="tns:findExternalRequest" />
  </message>
  <message name="findExternalResponse">
    <part name="findExternalResponse" element="tns:findExternalResponse" />
  </message>
  <message name="findInternalRequest">
    <part name="findInternalRequest" element="tns:findInternalRequest" />
  </message>
  <message name="findInternalResponse">
    <part name="findInternalResponse" element="tns:findInternalResponse" />
  </message>
  <portType name="ClaimsHistoryServicePort">
    <documentation>
AXN Claim History Service related operations.  </documentation>
    <operation name="ping">
      <documentation>
Does nothing else than returning a fixed response. This
      can be used
      to test the connection to and the SOAP request handling
      of the AudaNet
      server.
      No user credentials need to be specified for
      this operation.
       </documentation>
      <input name="pingRequest" message="tns:pingRequest" />
      <output name="pingResponse" message="tns:pingResponse" />
    </operation>
    <operation name="findExternal">
      <documentation>
Performs external claims history search
      * Parameter "loginId": The loginId ("username") of the AudaNet account, for authentication
      * Parameter "password": The password of the AudaNet account, for authentication
      
      * Parameter "vin ": Car vin code to query the claims history for
         </documentation>
      <input name="findExternalRequest" message="tns:findExternalRequest" />
      <output name="findExternalResponse" message="tns:findExternalResponse" />
    </operation>
    <operation name="findInternal">
      <documentation>
Performs internal case db claims history search. At least 1 parameter is mandatory
      * Parameter "loginId": The loginId ("username") of the AudaNet account, for authentication
      * Parameter "password": The password of the AudaNet account, for authentication
      
      * Parameter "vin ": Car vin code (optional)
      
      * Parameter "plateNumber ": Car plate number (optional)
      
      * Parameter "insuranceNumber ": Insurance number (optional)
      
      * Parameter "fieldsToReturn ": Comma separated list of child element names of the TaskProxy SAXIF type. The returned task list will
        contain these fields, if they are set. (optional)   </documentation>
      <input name="findInternalRequest" message="tns:findInternalRequest" />
      <output name="findInternalResponse" message="tns:findInternalResponse" />
    </operation>
  </portType>
  <binding name="ClaimsHistoryServiceSoap" type="tns:ClaimsHistoryServicePort">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ping">
      <wsdlsoap:operation soapAction="" />
      <input name="pingRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="pingResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="findExternal">
      <wsdlsoap:operation soapAction="" />
      <input name="findExternalRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="findExternalResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
    <operation name="findInternal">
      <wsdlsoap:operation soapAction="" />
      <input name="findInternalRequest">
        <wsdlsoap:body use="literal" />
      </input>
      <output name="findInternalResponse">
        <wsdlsoap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="ClaimsHistoryService">
    <documentation>
AXN Claim History Service related operations.  </documentation>
    <port name="ClaimsHistoryServicePort" binding="tns:ClaimsHistoryServiceSoap">
      <wsdlsoap:address location="https://www.audatex.ru/b2b/services/ClaimsHistoryService_v1" />
    </port>
  </service>
</definitions>